<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    Angular Car Showroom
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <!--<button mat-button routerLink="/user/register">Register</button>-->
    <button
      *ngIf="!authService.currentUser"
      mat-button
      routerLink="/user/login"
    >
      Login
    </button>
    <button
      *ngIf="authService.currentUser"
      mat-button
      (click)="logout()"
      routerLink="/cars"
    >
      Logout
    </button>
    <button
      *ngIf="authService.currentUser"
      mat-button
      routerLink="/user/profile"
    >
      Welcome, {{ authService.currentUser.forename }}
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/register">Register</button>
  <button mat-menu-item routerLink="/login">Login</button>
</mat-menu>
