<div class="content-wrapper">
  <h1>Available Cars</h1>
  <hr />
  <button
    mat-button
    (click)="addNewCar()"
    *ngIf="authService.currentUser?.admin"
  >
    <mat-icon>add</mat-icon> Add Car
  </button>

  <form [formGroup]="carResults" class="carResultsForm">
    <mat-form-field appearance="outline">
      <mat-label>Sort By</mat-label>
      <mat-select formControlName="sortBy">
        <mat-option
          *ngFor="let type of eCarSortBy | keyvalue"
          [value]="type.value"
          >{{ type.value | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Search Term</mat-label>
      <input matInput formControlName="searchTerm" />
    </mat-form-field>
  </form>

  <mat-slide-toggle (change)="showImages = !showImages"
    >Show Images</mat-slide-toggle
  >

  <div *ngIf="cars$ | async as cars; else loading">
    <div class="parent" *ngIf="cars.length > 0; else noCars">
      <div *ngFor="let car of cars" class="child">
        <car-thumbnail
          [car]="car"
          [showImages]="showImages"
          (edit)="edit($event)"
        ></car-thumbnail>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <mat-spinner color:accent class="spinner"></mat-spinner>
  </ng-template>

  <ng-template #noCars>
    <h3 class="noCars">
      There are no cars available matching this search criteria.
    </h3>
  </ng-template>
</div>
